<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestra Mision</title>
</head>
<body>
    <h3 role="heading" aria-level="3" data-ux="HeadingMiddle" data-aid="QUOTE_TITLE_RENDERED" data-typography="HeadingGamma" data-font-scaled="true" class="x-el x-el-h3 c1-1 c1-2 c1-1f c1-1g c1-9o c1-20 c1-1z c1-1i c1-1j c1-bc c1-2u c1-29 c1-2o c1-b7 c1-7w c1-b8 c1-b9 c1-ba c1-bb">Algunas de nuestras acciones:
        # Desde hace más de tres años contamos con comedores itinerantes que alimentan a mas de 1000 personas semanalmente.  (www.laollitaviajera.com)
        # Realizamos asistencia a familias en estado de vulnerabilidad.
        # Meriendas grupales para abuelos.</h3>
</body>
</html>