<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes Somos?</title>
</head>
<body>
    
<p> 
    

</p>

<div>

    <p>
        Fundación: Color y alegría

        Dirección :Mz 51 Pc 07 B 444 viv 1
        3514 - Fontana
        Ciudad: Fontana - Chaco
        Celular: 3624149053
        
        Email: yanimendez00017@gmail.com
    </p>
</div>

Fecha de inicio de actividades: 2 de septiembre de 2020

Autoridades:
Presidente: Rivero Diego
Tesorera: Morante Romina 
Secretaria: Soda Yanina 

Redes Sociales:
Facebook. https://www.facebook.com
Instagram Alegría. Color**
Twitter. Fundación Color y Alegría**
** A chequear 
Objetivos organizacionales:
Acompañar
Contener y respaldar a nuestra comunidad
Talleres
Charlas
Capacitaciones
Misión / Visión:
Llegar a proporcionar fuentes de trabajo con ingresos sustentables a los nuestros a través de gestiones y trabajo en conjunto con entidades gubernamentales.
Alcance:
Organización de alcance nacional e internacional.






</body>
</html>